@model marvel.Models.HerosList

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>For - @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <div class="row">
        <dt class="col-lg-8">
            <div class="container">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.AlterEgo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AlterEgo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SuperPower)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SuperPower)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SuperPowerII)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SuperPowerII)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CatchPhrase)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CatchPhrase)
                    </dd>
                </dl>
            </div>
        </dt>
        <dt class="col-lg-4">
            <img class="card-img" src=@Html.DisplayFor(model => model.picutre)>
        </dt>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="SuperHeros">Back to List</a>
</div>
